<p id="notice"><%= notice %></p>

<p>
  <strong>Atk:</strong>
  <%= @sub_stat.atk %>
</p>

<p>
  <strong>Matk:</strong>
  <%= @sub_stat.matk %>
</p>

<p>
  <strong>Def:</strong>
  <%= @sub_stat.def %>
</p>

<p>
  <strong>Mdef:</strong>
  <%= @sub_stat.mdef %>
</p>

<p>
  <strong>Hit:</strong>
  <%= @sub_stat.hit %>
</p>

<p>
  <strong>Crit:</strong>
  <%= @sub_stat.crit %>
</p>

<p>
  <strong>Flee:</strong>
  <%= @sub_stat.flee %>
</p>

<p>
  <strong>Aspd:</strong>
  <%= @sub_stat.aspd %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @sub_stat.hp %>
</p>

<p>
  <strong>Sp:</strong>
  <%= @sub_stat.sp %>
</p>

<%= link_to 'Edit', edit_sub_stat_path(@sub_stat) %> |
<%= link_to 'Back', sub_stats_path %>
