<p id="notice"><%= notice %></p>

<p>
  <strong>Stun:</strong>
  <%= @status_change_resistance.stun %>
</p>

<p>
  <strong>Poison:</strong>
  <%= @status_change_resistance.poison %>
</p>

<p>
  <strong>Silence:</strong>
  <%= @status_change_resistance.silence %>
</p>

<p>
  <strong>Bleeding:</strong>
  <%= @status_change_resistance.bleeding %>
</p>

<p>
  <strong>Sleep:</strong>
  <%= @status_change_resistance.sleep %>
</p>

<p>
  <strong>Stone curse:</strong>
  <%= @status_change_resistance.stone_curse %>
</p>

<p>
  <strong>Freeze:</strong>
  <%= @status_change_resistance.freeze %>
</p>

<p>
  <strong>Curse:</strong>
  <%= @status_change_resistance.curse %>
</p>

<p>
  <strong>Blind:</strong>
  <%= @status_change_resistance.blind %>
</p>

<p>
  <strong>Confusion:</strong>
  <%= @status_change_resistance.confusion %>
</p>

<%= link_to 'Edit', edit_status_change_resistance_path(@status_change_resistance) %> |
<%= link_to 'Back', status_change_resistances_path %>
