<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :item_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :item_description %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :item_type %>
  </div>

  <div class="field">
    <%= form.label :subtype %>
    <%= form.text_field :subtype, id: :item_subtype %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight, id: :item_weight %>
  </div>

  <div class="field">
    <%= form.label :buy_shop %>
    <%= form.check_box :buy_shop, id: :item_buy_shop %>
  </div>

  <div class="field">
    <%= form.label :required_level %>
    <%= form.number_field :required_level, id: :item_required_level %>
  </div>

  <div class="field">
    <%= form.label :buying_price %>
    <%= form.number_field :buying_price, id: :item_buying_price %>
  </div>

  <div class="field">
    <%= form.label :selling_price %>
    <%= form.number_field :selling_price, id: :item_selling_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
