<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @item.type %>
</p>

<p>
  <strong>Subtype:</strong>
  <%= @item.subtype %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<p>
  <strong>Buy shop:</strong>
  <%= @item.buy_shop %>
</p>

<p>
  <strong>Required level:</strong>
  <%= @item.required_level %>
</p>

<p>
  <strong>Buying price:</strong>
  <%= @item.buying_price %>
</p>

<p>
  <strong>Selling price:</strong>
  <%= @item.selling_price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
